
$light-green: #66B792;
$middle-green: #498778;
$dark-green: #296D5C;
$grey: #F5F7F7;
$gucci-red: #a82b11;
$gucci-green: #0a6a56;
$azureish_white : #D8EFE8;
$polished_pine: #57B0A1;


$var1: #216b3a;
$var2: #174a28;
$var3: #4d8861;
$var4: #1976d2;