@use '../../styles/colors.scss';

.container{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: colors.$grey;
}

.week{
  display: flex;
  margin-bottom: 0.5em;
  //border-bottom: 1px solid #c7c7c7;
}

.flex{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 2px;
  padding: 2px;
}

.dayName{
  flex-grow: 1;
  padding: 0.5em;
  //background-color: colors.$middle-green;
  color: #000;
  text-align: center;
}

.link{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.day{
  position: relative;
  padding: 0.75em 0;
  color: #000;
  & > h3{
    font-weight: 500;
    &:not(.default){
      color:#afafaf;
    }
  }
  & > .today{
    color: colors.$light-green;
    font-weight: 600;
    transform: scale(1.2);
    text-decoration: underline;
    // position: relative;
    // &::after{
    //   content: '';
    //   display: block;
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%,-50%);
    //   width: 35px;
    //   height: 35px;
    //   border: 2px solid colors.$light-green;
    //   border-radius: 4px;
    // }
  }
}
