

.reel{
  flex: 0 0 50px;
  min-width: 40px;
  scroll-snap-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  transition: 0.35s;
  font-size: 1.5em;
  padding: 0 0.5em;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.selected{
  color: #fff;
}

.not-selected{
  color: rgb(177, 175, 175);
}