@use '../../styles/colors.scss';

.toggler{
  width: 100%;
  background-color: colors.$grey;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0.5em;
  & > h2{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.25em;
  }
}