@use '../../styles/colors.scss';

.wrapper{
  position: absolute;
  right: 7px;
  top: 7px;
}

.container{
  position: relative;
  display: flex;
}

.master1, .master2{
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.master1{
  background-color: colors.$gucci-red;
  transform: translate(50%,-50%);
}

.master2{
  background-color: colors.$gucci-green;
}