@use './styles/colors.scss';

.app{
  background-color: colors.$middle-green;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  margin: 2em;
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
}
