@use './styles/colors.scss';

html{
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: #000;
  font-family: "Ysabeau Office", sans-serif;
  #root{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: auto;
  }
}

*{
  box-sizing: border-box;
}

:root {
  //font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar {
  display: none;
}


* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


a{
  text-decoration: none;
  color: inherit;
}



h1,h2,h3,h4,h5,h6{
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: center;
  font-weight: normal;
}

p{
  margin: 0;
}

button{
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul{
  padding-inline-start: 0;
  margin: 0;
  list-style-type: none;
}

input, input:focus-visible{
  //width: 100%;
  outline: none;
}
